@import "~bootstrap/scss/bootstrap.scss";

$header-text-color: #ffffff;
$add-font: 'Raleway', sans-serif;
$main-text-color: #555555;
$alt-text-color: #c7b299;

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}
.main-wrapper {
    position: relative;
    justify-content: center;
}

.header {
    padding-top: 40px;
}

.main-wrapper-content {
    position: absolute;
    z-index:1;
    width: 70%;
    height: 100%;
}

.nav-panel {
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.logo {
    font-family: $add-font;
    font-size: 34px;
    margin-right: 200px;
} 
.nav-link {
    color: $header-text-color;
}

.nav-link:hover {
    color: $alt-text-color;
}

.icon-styling {
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
}

.cart-icon {
    @extend .icon-styling;
    background-image: url(../pictures/icon-cart.png);
}

.search-icon {
    @extend .icon-styling;
    background-image: url(../pictures/search.png);
}

.slider-text {
    margin: auto;
    max-width: 700px;
    text-align: center;
}

.custom-h2 {
    font-family: $add-font;
    font-size: 36px;
    color: $header-text-color;
}

.custom-h1 {
    font-family: $add-font;
    font-weight: 800;
    font-size: 52px;
    color: $header-text-color;
}

.main-p {
    font-size: 16px;
    line-height: 24px;
    color: $header-text-color;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    width: 40px;
    height: 73px;
}

.carousel-control-next-icon {
    background-image: url(../pictures/arrow-not-actine.png);
}

.carousel-control-prev-icon {
    background-image: url(../pictures/arrow-not-actine.png);
    transform: rotate(180deg);
}

.carousel-control-next-icon:hover {
    background-image: url(../pictures/arrow-actine.png);
}

.carousel-control-prev-icon:hover {
    background-image: url(../pictures/arrow-actine.png);
    transform: rotate(180deg);
}

.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #969697;
    margin-right: 5px;
    margin-left: 5px;
}

.carousel-indicators .active {
    border: 2px solid #d3c1ad;
    width: 15px;
    height: 15px;
    background-color: rgba(0,0,0,0);
}

.carousel-indicators {
    align-items: center;
}

.container-servises {
    margin: 90px auto;
}

.servises::after {
	width: 70px;
	height: 3px;
	margin: 0 calc(50% - 35px);
	background-color: #f1eee9;
	display: block;
	margin-top: 25px;
	content: '';
}

.servises:hover {
    cursor: pointer;
}

.servises:hover .serv-item-caption {
    color: $alt-text-color;
}
 
.servises:hover::after {
    background-color: $alt-text-color;
}

.serv-icon {
    width: 55px;
    height: 55px;
    margin: auto;
    background-position: center;
    background-repeat: no-repeat;
}

.design-icon {
    @extend .serv-icon;
    background-image: url(../pictures/serv-design-no-active.png);
}

.developement-icon {
    @extend .serv-icon;
    background-image: url(../pictures/serv-developement-no-active.png);
}

.customization-icon {
    @extend .serv-icon;
    background-image: url(../pictures/serv-customization-no-active.png); 
}

.marketing-icon {
    @extend .serv-icon;
    background-image: url(../pictures/serv-marketing-no-active.png); 
}

.servises-design:hover .design-icon {
    background-image: url(../pictures/serv-design-active.png);
}

.servises-developement:hover .developement-icon {
    background-image: url(../pictures/serv-developement-active.png);
}

.servises-customization:hover .customization-icon {
    background-image: url(../pictures/serv-customization-active.png);
}

.servises-marketing:hover .marketing-icon {
    background-image: url(../pictures/serv-marketing-active.png);
}

.serv-item-caption {
    font-size: 22px;
    color: $main-text-color;
}

.serv-item-text {
    font-size: 14px;
    line-height: 24px;
    color: $main-text-color;
}

.block-caption {
    font-size: 30px;
    color: $main-text-color;
}

.container-block {
    margin: auto;
    padding: 60px 0;
}

.limit-width {
    max-width: 770px;
    margin: auto;
    padding: 0;
}

.margin-top-bot {
    margin: 50px 0;
}

.slider-item {
    position: relative;
}

.slider-left {
    position: absolute;
    left: -230px;
    bottom: 0;
    z-index: -1;
}

.slider-right {
    position: absolute;
    left: 230px;
    bottom: 0;
    z-index: -1;
}

.bg-gradient {
    background: linear-gradient(to right, #211b19, #4e3427);
}

.full-block {
    @extend .bg-gradient;
    min-height: 150px;
}

.full-block-bigger {
    @extend .bg-gradient;
    min-height: 300px;
}

.alt-text-color {
    color: $alt-text-color;
}

.adv-text { 
    font-family: $add-font;
    font-size: 28px;
    color: $header-text-color;
}

.adv-add-text {
    font-size: 18px;
    color: #615855;
}

.btn {
    background-color: #998675;
    text-transform: uppercase;
    color: $header-text-color;
    font-size: 14px;
    border: none;
    width: 170px;
    height: 50px;
    font-weight: 800;
    box-shadow: 0px -3px 0px #736357 inset;
}

.btn:active {
    background-color: #736357;
    box-shadow: 0px -3px 0px #998675 inset;
}

.projects-panel {
    align-items: center;
    justify-content: space-between;
}
 
.project-link{
    border: 1px solid #ebebeb;
    color: #998675;
    border-radius: 2px;
    padding: 10px 20px;
}

.project-link:hover  {
    background-color: #998675;
    color: $header-text-color;
    text-decoration: none;
    border: none;
}

.wrapper-photo-block {
	width: 100%;
	height: 100%;
	position: relative;
}

.wrapper-project-block {
    margin-bottom: 30px;
}

.wrapper-project-block:hover .shadow-mask-black {
	visibility: visible;
}

.wrapper-project-block:hover .project-caption-block {
	background-color: #362f2d;
}

.wrapper-project-block:hover .project-caption-block::before {
    background-image: url(../pictures/arrow-dark.png);
}

.wrapper-project-block:hover .caption-project {
    color: $header-text-color;
}

.wrapper-project-block:hover .text-line-project {
    color: $alt-text-color;
}

.project-photo {
	width: 100%;
}

.shadow-mask-black {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0, .3);
	visibility: hidden;
}

.project-inner-link {
    width: 26px;
    height: 26px;
    margin: 0 15px;
}

.project-caption-block {
    padding: 25px;
    position: relative;
    text-align: left;
}

.project-caption-before::before {
    content: '';
    background-image: url(../pictures/arrow-white.png);
    width: 30px;
    height: 10px;
    position: absolute;
    left: 15px;
    top: -10px;
}

.caption-project {
    color: $alt-text-color;
    font-family: $add-font;
    font-size: 20px;
    margin: 0;
}

.text-line-project {
    font-size: 14px;
    color: #d1d1d1;
    margin: 0;
}

.bg-video {
    height: 700px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../pictures/bg-video.jpg);
    background-size: cover;
}

.inner-video-block {
    max-width: 550px;
    margin: auto;
}

.play-video {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: rgba(0,0,0, .3);
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../pictures/icon-play.png);
    cursor: pointer;
}

.play-video:hover {
    background-color: rgba(0,0,0,1);
}


.video-time {
    color: $alt-text-color;
    font-size: 14px;
}

.mobile-block {
    height: 700px;
    background-color: #fbfaf8;
    background-position-y: bottom;
    background-position-x: 20%;
    background-repeat: no-repeat;
    background-image: url(../pictures/bg-hand.png);
}

.mobile-text {
    max-width: 670px;
    margin: auto auto  auto 40%;

}

.arrow-before {
    margin-left: 100px;
    position: relative;
}

.arrow-before::before {
    content: '';
    background-repeat: no-repeat;
    background-image: url(../pictures/arrow-before.png);
    left: -50px;
    width: 50px;
    height: 50px;
    display: block;
    position: absolute;
}


.counters-number {
    font-size: 48px;
    color: $header-text-color;
    font-weight: 100;
    margin: 0;
}

.counters-text {
    font-size: 14px;
    color: $alt-text-color;
    text-transform: uppercase;
}

.counters-text::after {
    width: 30px;
	height: 2px;
	margin: 0 calc(50% - 15px);
	background-color: $header-text-color;
	display: block;
	margin-top: 25px;
	content: '';
}


.posts-caption-block {
    border: 1px solid #f8f8f8;
    border-top: none;
    padding: 30px;
} 

.caption-posts {
    font-family: $add-font;
    color: $main-text-color;
    font-size: 20px;
}

.text-line-posts {
    color: #8c8c8c;
    font-size: 14px;
}

.read-more-link {
    color: $alt-text-color;
    font-size: 14px;
    position: relative;
}

.read-more-link::after {
    content: '';
    display: block;
    background-image: url(../pictures/arrow-read-more.png);
    height: 8px;
    width: 5px;
    position: absolute;
    right: -12px;
    top: 7px;
}

.calendar {
    position: absolute;
    top: 20px;
    left: 20px;
    background: linear-gradient(to bottom, #363636 60%, #252525 40%);
    border-radius: 2px;
    height: 60px;
    width: 50px;
}

.calendar-day, .calendar-month {
    color: $header-text-color;
}

.calendar-day {
    font-size: 24px;
}

.calendar-month {
    font-size: 12px;
    font-family: $add-font;
}

.wrapper-project-block:hover .posts-caption-block {
    background-color: #362f2d;
    border: none;
}

.wrapper-project-block:hover .caption-posts {
    color: $alt-text-color;
}

.wrapper-project-block:hover .text-line-posts {
    color: $header-text-color;
}

.wrapper-project-block:hover .calendar {
    background: linear-gradient(to bottom, $alt-text-color 60%, #a48d72 40%);
}

.carousel-control-prev-custom, .carousel-control-next-custom {
    border: 2px solid #d2d2d2;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    color: #d2d2d2;
}

.carousel-control-prev-c, .carousel-control-next-c {
    bottom: -40px;
    width: 50%;
    text-decoration: none;
}

.carousel-control-prev-c {
    right: 0;
}

.carousel-control-next-c {
    left: 0;
}

.bg-logos {
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../pictures/bg-partners.jpg);
    background-size: cover;
}

.footer-block {
    background-color: #191919;
    padding: 80px 0;
} 

.alter-read-more-link {
    color: $header-text-color;
}

.footer-section-name {
    color: $header-text-color;
    font-size: 24px;
    font-weight: 500;
}

.footer-post-item {
    border-bottom: 1px solid #252525;
}

.post-item-date {
    color: #363636;
    font-size: 12px;
}

.footer-post-item:hover .post-item-date {
    color: $header-text-color;
}

.footer-post-item:hover .serv-item-text {
    color: $alt-text-color;
}

.alt-text-mark {
    color: #00bff3;
} 

.footer-link {
    text-decoration: none;
    color: #959595;
}

.footer-bottom {
    background-color: #111111;
    height: 100px;
} 

.nav-link-bottom {
    border-right: 1px solid #252525;
    color: $main-text-color;
    font-size: 13px;
    padding: 0 10px;
}

.nav-link-bottom:last-of-type {
    border-right: none;
}